table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    font-size: 10pt;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #000000;
    text-align: left;
    padding: 2px;
  }
  
  tr:nth-child(even) {
    background-color: #d1bf1b;
  }